<div ng-controller="AboutCtrl">
<p>This is the About view.</p>

    {{ themethod() }}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Items</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in itemslist">
            <td><a ng-href="{{item.url}}" target="_blank">{{item.name}}</a></td>
            <td>{{item.description}}</td>
            <td>
                <a ng-href="#/edit/{{item.$id}}">link<i class="icon-pencil"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="#/new">new<i class="icon-plus-sign"></i></a>

</div>
