<div ng-controller="fulfillmentController">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Fulfillments (won't work because it's living on a different server)</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in fulfillmentslist">
            <td><a ng-href="{{item.url}}" target="_blank">{{item.name}}</a></td>
            <td>{{item.description}}</td>
            <td>
                <a ng-href="#/edit/{{item.$id}}">link<i class="icon-pencil"></i></a>
            </td>
        </tr>
        </tbody>
    </table>

</div>