<p>Clerk</p>
<div ng-controller="ClerkCtrl">
    {{test}}
    <form name="myForm">
        <label>
            User name:
            <input type="text" name="userName" ng-model="user.name" required>
        </label>
        <div role="alert">
      <span class="error" ng-show="myForm.userName.$error.required">
       Required!</span>
        </div>
        <label>
            Last name:
            <input type="text" name="lastName" ng-model="user.last"
                   ng-minlength="3" ng-maxlength="10">
        </label>

    </form>

</div>

